.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.square {
  transform: rotate(25deg);
  width: 150px;
  height: 150px;
  border: 3px solid var(--bg-primary-color);
  border-radius: 20px;
  margin-left: 80px;
  margin-top: 80px;
}

.triangle {
  position: relative;
  width: 90px;
  height: 90px;
  border-top-right-radius: 30%;
  text-align: justify;
  transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}

.triangle::before,
.triangle::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  border-top-right-radius: inherit;
}

.triangle::before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translateY(-50%);
}

.triangle::after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translateX(50%);
}
