$primary-color: #6138f4;
$secondary-color: #73eeff;
$neutral-color: #191919;

$bg-orang-color: #f4a338;
$line-green-color: #4bcc58;
$line-red-color: #d50000;
$footer-light-color: #190f40;
$footer-liolor: #1d114a;
