$primary-color:#6138f4;
$secondary-color:#73EEFF;
$neutral-color:#191919;



$bg-orang-color:#f4a338;
$line-green-color:#4bcc58;
$line-red-color:#D50000;
$footer-light-color:#190F40;
$footer-liolor:#1D114A;